<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Test Suite">
    <listeners>
        <listener class-name="ExtendReport"/>
    </listeners>
    <test name="My Test">

        <packages>
            <package name="iti.PetStore.Tests.Pet"/>
            <package name="iti.PetStore.Tests.Store"/>
            <package name="iti.PetStore.Tests.User"/>
        </packages>
    </test>
</suite>